:root{
    --background-color:#F8F5F5;
    --black-color:#131417;
    --white-color:#fff;
}

.container-historial{
    position: absolute;
    margin-top: 2rem;
    z-index: 20;
    color: var(--white-color);
    font-weight: 500;
    align-self: flex-start;
    flex-basis: calc(50% - 2rem);
    width: 100%;
    
}
.container-historial p {
    text-align: start;
    margin-bottom: 2rem;
}
.card-historial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;                    
    border-radius: 5px;
    border: 0.2rem solid var(--white-color);
    background-color: rgba(255, 255, 255, 0.3);
    transition: .3s all;
    cursor: pointer;
}
.card-historial:hover{
    background-color: rgba(218, 216, 216, 0.3);
}
.cards-historial{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows:repeat(auto-fill, minmax(50px, 1fr));
    gap: 15px;
    overflow-y: auto;
    max-height: 20vh;
    padding-right:0.5rem;
} 

@media (min-width:768px) {
    .cards-historial{
        max-height: 50vh;
    } 
}

.cards-historial::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cards-historial::-webkit-scrollbar:vertical {
    width:10px;
}

.cards-historial::-webkit-scrollbar-button:increment,.cards-historial::-webkit-scrollbar-button {
    display: none;
} 

.cards-historial::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cards-historial::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.cards-historial::-webkit-scrollbar-track {
    border-radius: 10px;  
}