@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root{
    --background-color:#F8F5F5;
    --black-color:#131417;
    --white-color:#fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** Resete para REMS - 65.5%=10px de 16px que eran antes. ahora 1rem= 10px, 2rem =20px 2.2rem=22px 
    ahora los rem son multiplos de 10**/
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    padding: 10px;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
}

a{
 color: #fff;
 text-decoration: none;
}

img{
    max-width: 100%;
}

input{
    border: 0.2rem solid #fff;
    border-radius: 5px;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    outline: none;
}

input::placeholder { 
    color: #fff;
}

@media (min-width:768px) {
    body{
        padding: 0 10px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        overflow: hidden;
        /* background-color: red; */
    }
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
    display: none;
} 

.scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}